* {
    box-sizing: border-box;
}
html, body, form, ul {
    font-size: 10.5px;
    line-height: 10.5px;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-weight: 500;
    letter-spacing: -0.4px;
}
form, ul {
    margin: 0;
    padding: 0;
}
#wrap {
 text-align:center;
}
#wrap-center {
    width: 1280px;
    display: inline-block; /*줄바꿈 없이 옆에 배치되면서도, 크기 조절이 가능한 박스*/
}
#header {
    text-align: left;
    position: relative; /*absolute로 인해 끝에 붙는거 방지 영역제한 두기*/
    height: 52px;
}
.header-icon {
    position: absolute; /*absolute 로 left를 주면 왼쪽 끝에 붙는다*/
    top: 18px;
    display: block; /*박스로 취급(사이즈변경하기위해)*/
    padding: 8px;
    cursor: pointer; /*커서 올리면 손 모양으로 바뀜*/
    background: none; /*버튼을 지정하면 생기는 배경 제거*/
    border: none; /*버튼을 지정하면 생기는 보더 제거*/
}
.header-icon:hover::before { /*hove 했을때만 나타나게*/
    content: '';
    position: absolute; /*before에 위치 정보를 넣어주기 위해*/
    z-index: 0; /*호버하지않으면 보이지 않게 설정*/
    left: 1px; /*left, top 으로 호버배경 위치 조정*/
    top: 1px;
    width: 44px;
    height: 44px;
    background-color: var(--color_option_bg); /*배경의 색*/
    border-radius: 50%; /*50% 값을 넣으면 원이 됌*/
}
.header-icon > div {
    width: 32px; 
    height: 32px;
    position: relative; /*z-index를 적용하기위해 position: relative 적용*/
    z-index: 1; /*z-index는 형제끼리만 적용된다*//*다른 메뉴보다 뒤에 위치*/
    background-image: url(./sp_main.png); /*이미지 주소*/
    background-repeat: no-repeat; /*이미지 끝에 갔을때 반대로 이동(위랑같이씀)*/
    background-size: 463px 442px; /*가져온 이미지 파일의 사이즈 조절*/
}
#header-hamburger {
    left: -10px;
}
#header-hamburger > div {
    background-position: -311px -166px; /*이미지들 중 사용하는 이미지 위치*/
}

#header-naverpay {
    left: 42px;
}
#header-naverpay > div {
    background-position: -248px -260px; /*이미지들 중 사용하는 이미지 위치*/
}

#header-navertalk {
    right: 94px;
}
#header-navertalk > div {
    background-position: -99px -316px; /*이미지들 중 사용하는 이미지 위치*/
}

#header-notice {
    right: 42px;
}
#header-notice > div {
    background-position: -311px -232px; /*이미지들 중 사용하는 이미지 위치*/
}

#header-shoppingcart {
    right: -10px;
}
#header-shoppingcart > div {
    background-position: -33px -316px; /*이미지들 중 사용하는 이미지 위치*/
}

#main {
    height: 2000px;
}
.blind { /*시각장애인을 위해 none으로 하지않고 설정 적용*/
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
#search > form {
    display: inline-flex; /*줄바꿈 없이 옆에 배치되면서도, 크기 조절이 가능한 박스*/
    width: 708px; /*너비*/
    height: 60px; /*높이*/
    border: 1px solid #03c75a; /*테두리에 1px 초록색(#03c75a)선을 표시한다*/
    border-radius: 33px; /*모서리를 둥글게 표시한다.*/
    text-align: left; /*자동 가운데 정렬인데 풀고 왼쪽으로 붙임*/
}
#search > form:hover { /*(hover)마우스를 위에 올려놓은 상태*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12); /*검색창 호버하면 그림자 나타남*/
}
#search-svg {
    display: inline-flex; /*다른 인라인 요소들과 한 줄에 배치되도록 하면서 flex정렬*/
    justify-content: center; /*가로축 가운데 정렬*/
    align-items: center; /*세로축 가운데 정렬*/
    width: 67px;
    height: 100%;
    padding: 17px 16px 17px 27px;
}
#search-svg svg {
    width: 24px;
    height: 24px;
    fill: #03c75a; /*#03c75a(초록색)으로 채움*/
}
#search-input {
    width: 480px;
    padding: 17px 0;
    font-size: 2rem; /*글씨 크기*/
    line-height: 24px; /*패딩과 함께 중앙정렬을 세심하게 다듬는 역할*/
    border: none; /*테두리 제거*/
    outline: none; /*테두리 제거*/
}
#search-input::placeholder { /*작성된 글자가 없을 때 표시됨*/
    color: white;
}
#search-input:focus::placeholder { /*(focus)마우스가 클릭된 상태*/
    color: rgb(230, 230, 230)
}
#search-right {
    display: flex;
    flex: 1; /*같은 flex 안에서 한번만 선언되면 남은 공간만큼 영역이 늘어남*/
    justify-content: center; /*가로축 가운데 정렬*/
}
#search-keyboard, #search-recent, #search-button {
    background: transparent;
    border: none;
    cursor: pointer;
}
#search-keyboard::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
    background-size: 463px 442px;
    background-position: -148px -301px;
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
}
#search-keyboard:hover::before { /*(hover)마우스를 위에 올려놓은 상태*/
    background-position: -73px -301px; /* hover용 진한 이미지 좌표 */
}
#search-recent::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
    background-size: 463px 442px;
    background-position: -453px -422px;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
}
#search-button::before {
        content: "";
        display: block;
        background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
        background-size: 463px 442px;
        background-position: -405px -105px; /*이미지의 돋보기 좌표*/
        background-repeat: no-repeat; /*이미지를 반복하지 않음*/
        width: 24px;  
        height: 24px;
}
#nav {
    margin-top: 8px;
}
#nav > ul {
    display: flex; /*nav 의 자식 ul 태그를 flex로 한다*/
    list-style-type: none; /*list 태그의 점을 없앤다*/
    justify-content: center;
    font-size: 1.3rem; /*글씨 크기 변경*/
    line-height: 20px; /*텍스트 줄 간의 세로 간격(rem사용 시 적용)*/
    /*rem으로 사용자가 글자 크기를 늘려도 텍스트 공간이 여유로워야 함*/
}
#nav a {
    width: 64px;
    display: block;
    text-decoration: none; /*글자의 밑줄 제거*/
    text-align: center; /*자식요소를 가운데 정렬(본인X)*/
}
#nav a div {
    width: 40px;
    height: 40px;
    margin: auto; /*가운데 정렬하는 center 외 의 방법*/
    position: relative; /*::before를 사용할 때 position: absolute;를 주고 기준점을 잡기 위해 relative적용*/
    text-align: center; /*자식요소를 가운데 정렬(본인X)*/
}
#nav a div::after {
    content: ''; /*before&after요소에 꼭 필요함*/
    position: relative; /*z-index를 적용하기 위해 relative 선언*/
    z-index: 1; /*이미지가 ::before 위에 위치하도록*/
    display: inline-block; /*이미지도 넣고 블록요소로 정의함(이미지 넣기위해)*/
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
    background-size: 463px 442px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 2px;
}
#nav a:visited {
    color: black; /*방문했어도 검은색으로*/
}
#nav li {
    width: 64px;
}
#nav li a div::before {
    content: ""; /*before&after요소에 꼭 필요함*/
    display: block;
    position: absolute; /*absolute는 가장 가까운 position이 지정된 부모 요소(여기선 div)를 기준으로 배치*/
    top: -1px;
    left: -3px;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
    background-size: 463px 442px;
    background-position: -153px -142px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
#nav li:nth-of-type(1) a div::after {
    background-position: -205px -219px;
}
#nav li:nth-of-type(2) a div::after {
    background-position: -41px -219px;
}
#nav li:nth-of-type(3) a div::after {
    background-position: 0px -219px;
}
#nav li:nth-of-type(4) a div::after {
    background-position: -41px -260px;
}
#nav li:nth-of-type(5) a div::after {
    background-position: -270px -205px;
}
#nav li:nth-of-type(6) a div::after {
    background-position: -123px -260px;
}
#nav li:nth-of-type(7) a div::after {
    background-position: 0px -260px;
}
#nav li:nth-of-type(8) a div::after {
    background-position: -270px 0px;
}
#nav li:nth-of-type(9) a div::after {
    background-position: -164px -260px;
}
#nav li:nth-of-type(10) a div::after {
 /*치지직 이미지 입니다.*/
}
#nav li:nth-of-type(11) a div::after {
    background-position: -270px -164px;
}
#nav li a span {
    display: inline-block;
    margin-top: 4px; /*검색창과 거리를 두기 위함*/
}
#main {
    display: flex;
    margin-top: 32px;
}
#main-left {
    width: 830px;
    margin-right: 30px;
}
#main-right {
    width: 420px;
}
#main-left-add, #main-right-add {
    background: gray;
}
aside[id$=add] { /*$=add(add로 끝나는 값 선택)*/
    border-radius: 8px; /*요소의 모서리를 둥글게 만든다*/
    margin-bottom: 16px;
}
#main-left-add { /*왼쪽 광고영역*/
    height: 130px;
}
section[id^=main] { /*^=(main으로 시작하는 값 선택)*/
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04); /*영역들의 테두리를 박스쉐도우로*/
    border-radius: 8px;
    margin-bottom: 16px;
}
#main-login { /*로그인영역*/
    height: 164px;
    padding: 21px 20px 18px;
    font-size: 1.4rem;
    display: flex;
    flex-flow: column;
}
#main-login > div:first-of-type {
    line-height: 20px; /*미적용시 미묘하게 다름*/
    text-align: center;
}
#main-login-button {
    height: 56px;
    margin-top: 13px;
    padding: 17px 0;
    background-color: #03c75a;
    color: white;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
    text-decoration: none; /*밑줄제거*/
}
#main-login-button > i { /*네이버로그인 네이버이미지*/
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.04eb92b7.png);
    background-size: 463px 442px;
    background-position: 0px -301px;
    background-repeat: no-repeat;
    width: 72px;
    height: 17px;
    display: inline-block;
    margin: 3px 8px 0 0;
    vertical-align: center; /*네이버 텍스트를 가운데 정렬*/
}
#main-login > div:last-of-type { /*마지막 자식(아이디찾기... 등등)*/
    font-size: 1.3rem;
    margin-top: 16px;
    height: 20px;
}
#main-login > div:last-of-type > a {
    color: #606060;
    color: var(--color_caption2);
    text-decoration: none; /*밑줄제거*/
}
#main-login > div:last-of-type > a:hover {
    text-decoration: underline; /*마우스 호버 시 밑줄 보이게*/
}
#main-login > div:last-of-type > a:nth-of-type(2)::before, #main-login > div:last-of-type > a:nth-of-type(2)::after {
    /*비밀번호 찾기 양 옆에 구분 선 생성*/
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7; /*구식컬러지정(최식을 지원안하는 브라우저를 신경씀)*/
    background-color: var(--color_dot_divider); /*신식컬러지정(혹시몰라 구식도 같이 적용)*/
    margin: 4px 12px 0;
}
#main-newstand {
    height: 426px;
    display: flex;
    flex-flow: column;
}
#main-newstand-top {
    flex: 1;
    padding: 18px 20px;
}
#main-newstand header {
    font-size: 1.6rem;
    color: rgba(8, 8, 8, .5);
    display: flex; /*(justify-content)를 위해 flex 지정*/
    justify-content: flex-start; /*flex의 시작지점기준 정렬(왼쪽 정렬)*/
    line-height: 23px;
    margin-bottom: 17px;
}
#main-newstand header .bold {
    font-weight: bold; /*글씨를 두껍게*/
    color: black;
}
#main-newstand-gray { /*회색부분*/
    display: flex; 
    height: 50px;
    padding: 12px 20px;
    justify-content: flex-start;
    background-color: var(--color_option_bg);
    border-radius: 4px;
}
#main-newstand a {
    text-decoration: none; /*밑줄 제거*/
}
#main-newstand a:visited {
    color: inherit; /*방문 했어도 색이 변하지 않음*/
}
#main-newstand a:hover {
    text-decoration: underline; /*호버 시 밑줄 생성*/
}
#main-newstand-grid { /*격자일때 사용하기 적합함*/
    display: grid; /*부모나 자신이 inline요소면 inline-grid로 작성*/
    grid-template-rows: 56px 56px 56px 56px; /*rows=세로*/
    grid-template-columns: 131.27px 131.27px 131.27px 131.27px 131.27px 131.27px; /*columns=가로*/
    grid-gap: 1px;
    background-color: var(--color_border_in);
    border: 1px solid var(--color_border_in);
    border-radius: 4px;
    margin-top: 17px;
}
#main-newstand-grid > div {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center; /*축을 센터로*/
    align-items: center; /*축을 센터로*/
}
#main-newstand footer {
    padding: 10px 0 11px;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
}
#main-right-add { /*오른쪽 광고영역*/
    height: 240px;
}
#main-shopping { /*쇼핑영역*/
    height: 560px;
}
.main-weather-and-stock { /*영역 자체의 크기*/
    height: 236px;
    padding: 0 18px;
}
.main-weather-and-stock > header {
    height: 52px;
    padding: 6px 0;
    border-bottom: 1px solid #e3e5e8; /*영역 나누는 선*/
}
:root {
    --color_title: #080808;
    --color_title_rgb: 8, 8, 8;
    --color_body: #101010;
    --color_body_rgb: 16, 16, 16;
    --color_caption1: #404040;
    --color_caption1_rgb: 64, 64, 64;
    --color_caption2: #606060;
    --color_caption2_rgb: 96, 96, 96;
    --color_caption3: #555558;
    --color_caption3_rgb: 85, 85, 88;
    --color_search: #000;
    --color_search_rgb: 0, 0, 0;
    --color_border_out: #e3e5e8;
    --color_border_out_rgb: 227, 229, 232;
    --color_border_in: #ebebeb;
    --color_border_in_rgb: 235, 235, 235;
    --color_border_in_divider: #ebebeb;
    --color_border_in_divider_rgb: 235, 235, 235;
    --color_border_in_exception: #ebebeb;
    --color_border_in_exception_rgb: 235, 235, 235;
    --color_button_border: #dadcdf;
    --color_button_border_rgb: 218, 220, 223;
    --color_dot_divider: #d3d5d7;
    --color_dot_divider_rgb: 211, 213, 215;
    --color_block_bg: #fff;
    --color_block_bg_rgb: 255, 255, 255;
    --color_board_bg: #f4f6fa;
    --color_board_bg_rgb: 244, 246, 250;
    --color_option_bg: #f5f7f8;
    --color_option_bg_rgb: 245, 247, 248;
    --color_login_bg: #fafbfb;
    --color_login_bg_rgb: 250, 251, 251;
    --color_menu_widget_bg: #fff;
    --color_menu_widget_bg_rgb: 255, 255, 255;
    --color_setting_bg: #fff;
    --color_setting_bg_rgb: 255, 255, 255;
    --color_button1_bg: #fff;
    --color_button1_bg_rgb: 255, 255, 255;
    --color_button2_bg: #fff;
    --color_button2_bg_rgb: 255, 255, 255;
    --color_news: #3a67ea;
    --color_news_rgb: 58, 103, 234;
    --color_news_econ_stay: #909aab;
    --color_news_econ_stay_rgb: 144, 154, 171;
    --color_news_econ_down: #4f67d6;
    --color_news_econ_down_rgb: 79, 103, 214;
    --color_live_news_price: #f4361e;
    --color_live_news_price_rgb: 244, 54, 30;
    --color_enter: #e538e2;
    --color_enter_rgb: 229, 56, 226;
    --color_enter_bg: #f2f1fb;
    --color_enter_bg_rgb: 242, 241, 251;
    --color_sports: #1f65ef;
    --color_sports_rgb: 31, 101, 239;
    --color_sports_bg: #f4f7fe;
    --color_sports_bg_rgb: 244, 247, 254;
    --color_econ: #008f76;
    --color_econ_rgb: 0, 143, 118;
    --color_calendar: #eb5b5b;
    --color_calendar_rgb: 235, 91, 91;
    --color_dic: #031f5f;
    --color_dic_rgb: 3, 31, 95;
    --color_shop: #9858f5;
    --color_shop_rgb: 152, 88, 245;
}